# Versão mais recente do Erlang / OTP, consulte: https://git.io/Je5k6
erlang_version = 22.2

# Versão mais recente do Elixir, consulte: https://github.com/elixir-lang/elixir/releases
elixir_version = 1.9.4

# Sempre reconstruir do zero em cada implantação?
always_rebuild = false

# Defina o caminho em que o aplicativo é executado em
runtime_path = / app
